<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>moipv2</name>
	<displayName><![CDATA[Moip Wirecard Brasil]]></displayName>
	<version><![CDATA[2.5.8]]></version>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Você realmente quer desinstalar?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries>BR</limited_countries>
</module>